<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project Management</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="bg-gray-50 min-h-screen flex flex-col">
    <header>
        <nav class="bg-white shadow-sm border-b">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex justify-between h-16">
                    <div class="flex">
                        <div class="flex-shrink-0 flex items-center">
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="text-xl font-bold text-gray-800 hover:text-gray-600">
                               Reservations planner 
                            </a>
                        </div>
                        <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
                            <a asp-area="" asp-controller="Flights" asp-action="Index" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">
                               Flights 
                            </a>
                             <a asp-area="" asp-controller="Hotels" asp-action="Index" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">
                               Hotels 
                            </a>
                            <button>Cancel Reservations</button>  
                            
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="max-w-3xl w-full  mx-auto px-4 sm:px-6 lg:px-8">
        <main role="main" class="py-8">
            @RenderBody()
        </main>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html> 