@{
    ViewData["Title"] = "Home Page";

    var username = Context.Session.GetString("Username");

    if (string.IsNullOrEmpty(username)) {
        Context.Response.Redirect("/Login/Index");
        return;
    }
}

<div class="text-center fade-in">
    <h1>Welcome, @username</h1>
    <form action="/Login/Logout" method="post">
        <button type="submit">Logout</button>
    </form>
</div> 