@{
    ViewData["Title"] = "Project Management";

    var name = Context.Session.GetString("name");
}

<div class="mb-6">
    <h1 class="text-3xl font-bold text-neutral-800 mb-4">Project Management</h1>
  
    hello @name
</div>